img {
  float: left;
  width: 50%;
}

.link {
  text-decoration: underline;
}

.couns {
  width: 98%;
  padding: auto;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 95%;
  }
}
