footer {
  background-color: #343a40;
  color: #ffffff;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.code-item {
  margin-left: 20px;
}

.salutation {
  text-align: center;
}
