img {
  float: left;
  width: 50%;
  padding: 0 10px 10px 10px;
  border-radius: 20px;
}

iframe {
  float: left;
  width: 50%;
  height: 300px;
  border-radius: 15px;
}

.link {
  text-decoration: underline;
}

.couns {
  width: 98%;
  padding: auto;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 95%;
  }
  iframe {
    width: 95%;
  }
}
